:root {
    --paragraphs: #222222;
    --links: #666666;
    --overlay: rgba(0, 0, 0, 0.7);
    --buttons: #325288;
    --body: #f5f1da;
}

body {
    line-height: 1.6;
    background: #f4f4f4;
}


/* header */

.header {
    background: var(--body);
    padding: 10px;
}


/* navbar */

.navbar {
    background: #fff5c0!important;
    text-align: center;
    padding: 10px;
}

.navbar-light .navbar-toggler {
    border: 0;
    box-shadow: none;
}

.logo {
    color: #325288!important;
    text-decoration: none;
    font-size: 1.9em!important;
    font-weight: bold;
    text-align: center;
}

.navbar li>a {
    font-size: 15px!important;
    font-family: 'poppins';
    font-weight: 700;
}

.navbar li a:hover {
    color: #325288!important;
}

.nav-colored {
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.nav-transparent {
    border-bottom: none;
}

.navbar .collapse {
    margin-left: 50%;
}

button span i {
    color: var(--buttons);
}

@media (max-width: 812px) {
    .navbar .collapse {
        margin-left: 0;
    }
}


/* one */

.one {
    position: relative;
    height: 599px;
    background: url('../images/index.jpg') no-repeat bottom center/cover;
    width: 100%;
    overflow-x: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 4, 8, 0.418);
    color: #fff;
}

.one-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 860px;
    font-size: 1.2em;
    color: #fff!important;
    padding: 10rem 0 0rem;
}

.one-inner h1 {
    text-align: left;
    margin: 0 0 10px 0;
    font-size: 55px;
    font-weight: 500;
    line-height: 56px;
    color: #FFF;
}

.one-inner h3 {
    text-align: left;
}

.one-inner p {
    margin-bottom: 50px;
    font-size: 22px;
    text-align: left;
    padding-left: 7px;
    font-weight: 500;
}

.one-inner p span {
    color: #a8df65;
    text-align: left;
    padding-bottom: 5px;
    letter-spacing: 1px;
    line-height: 2px;
    border-bottom: 3px solid #37b3ed;
}

@media (max-width:728px) {
    .one-inner h1 {
        text-align: left;
        margin: 0 0 10px 0;
        font-size: 35px;
        font-weight: 500;
        line-height: 36px;
        color: #FFF;
    }
    .one-inner p {
        margin-bottom: 40px;
        font-size: 18px;
        text-align: left;
        padding-left: 7px;
        font-weight: 500;
    }
}


/* menu */

.menu {
    font-size: 14px;
    padding: 44px 0;
    background: var(--body);
}

.menu h3 {
    color: var(--buttons);
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 30px;
}

.card {
    color: var(--buttons);
    width: 100%!important;
    margin-bottom: 1em;
    border-radius: .5rem;
    background-color: #dddddd;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.card:hover {
    border: 2px solid #147ddd;
}

.card img {
    border-radius: 5px;
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card .card-text {
    padding-left: 8px;
    color: #000;
}

.card .card-price {
    color: #900d0d;
    padding-left: 8px;
    font-weight: 500;
}

@media (max-width:728px) {
    .card {
        margin-left: 20%;
        font-size: .8rem;
        text-align: center;
        width: 55% !important;
    }
    .card img {
        width: 120px;
    }
}


/* about  */

.about {
    font-size: 14px;
    overflow-x: hidden;
    background: #e4e3e3;
}

.about h3 {
    padding: 22px 0;
    font-weight: 700;
    color: var(--buttons);
    font-size: 34px;
}

.about .right-col {
    background: #000;
}

.about img {
    background-repeat: no-repeat;
    width: 99%;
    height: 100%;
    background-size: cover;
}

.about .left-col {
    padding-bottom: 155px;
    padding-top: 155px;
    margin-top: 25px;
    margin-left: 5px;
}

.about .left-col .about-title {
    margin-left: 35px;
    text-align: center;
    /* width: 300px; */
    font-size: 44px;
    color: #ff5f40;
    font-family: 'Original Surfer', cursive;
    font-weight: 700;
    border-bottom: 5px solid #325288b7;
    border-radius: 1.8rem;
}

.about .left-col .about-txt {
    padding-left: 50px;
    width: 300%;
    font-size: 24px;
    font-weight: 700;
}

.about .left-col .btn {
    margin-left: 112px;
    width: 60%;
}